@media(max-width: 767px){
    .myskills .container{
        display: block;
    }

    .myskills .skills,
    .myskills .img,
    .myskills .me{
        width: 100%;
        padding: 20px;
    }
}

@media(max-width: 600px){
    .services .service{
        display: block;
    }

    .services .square{
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #portfolio .hosted .squares{
        display: block;
        padding: 20px;
    }

    .hosted .square{
        width:100%;
        padding: 10px;
    }
}